body, html {
    height: 100vh;
    overflow: hidden !important;
}

.utilitybuttoniconimg {
    outline:none;
    border: none;
    -webkit-box-shadow: 10%;
    box-shadow: none;
}

.background {
    cursor: grab;
&:active {
        cursor: grabbing;
}

.loader {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.btn {
  background-color: #000000;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: left;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.8;
  transition: 0.3s;
}
.btn:hover {
  margin: 2px 0px;
  opacity: 1;
}
